@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Set the background color for my page: */
body{

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-color:	#1b313d;
 
}


/* Choose the appearance of the tags, h1, h3 and p: */
h1{
    color:whitesmoke;
    font-family: 'Styrenea web', sans-serif;
    text-align: center;
    font-size: 50px;
    text-shadow: 4px 3px rgba(0, 0, 0);
    font-weight: 800;
    line-height: 44px;
    

}


p{
    color:whitesmoke;
    font-family: 'Styrenea web', sans-serif;
    text-align: center;
    text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0)
}
h2{
    color:whitesmoke;
    font-family: 'Styrenea web', sans-serif;
    text-align: center;
    font-size: 25px;
    text-shadow: 4px 3px rgba(0, 0, 0);
    font-weight: 800;
    line-height: 44px;
    

}

h3{
    color:whitesmoke;
    font-family: 'Styrenea web', sans-serif;
    text-align: center;
    font-weight: 800;
    font-style: bold;
    font-size: 20px;
    text-shadow: 2px 2px rgba(0, 0, 0)
}

/* Main heading of page*/    
.portfolio{
    margin: auto; 
    width: 90%;
    background-color:#467c9b ;
    border: solid;
    border-radius: 20px;
    border-color:#0d181e;
    margin-bottom: 20px;
    box-shadow: 4px 3px rgba(0, 0, 0) 
    
    
    
}


/* changing links and buttons*/
.a{
    color: whitesmoke;
}

#link1{
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #1b313d;       
    display: inline-block;
    text-decoration: none;
    color:whitesmoke ;
    box-shadow: 4px 3px rgba(0, 0, 0);
  
    
    
}
#link2{
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #1b313d;       
    display: inline-block;
    text-decoration: none;
    color: whitesmoke;
    box-shadow: 4px 3px rgba(0, 0, 0)
    
}
#link3{
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #1b313d;       
    display: inline-block;
    text-decoration: none;
    color:whitesmoke;
    box-shadow: 4px 3px rgba(0, 0, 0)

    
}

/*WEEK DESIGN*/
.week1{
    margin: auto; 
    width: 90%;
    background-color: #467c9b ;    
    border: solid;
    border-radius: 20px;
    border-color:#0d181e;
    margin-bottom:20px;
    margin-top: 20px;
    float: center;
    box-shadow: 4px 3px rgba(0, 0, 0, 0.8) ;
    
}


.week2{
    margin: auto; 
    width: 90%;
    background-color: #467c9b ;    
    border: solid;
    border-radius: 20px;
    border-color:#0d181e;
    margin-bottom:20px;
    margin-top: 20px;
    float: center;
    box-shadow: 4px 3px rgba(0, 0, 0, 0.8) ;
}

.week3{
    margin: auto; 
    width: 90%;
    background-color: #467c9b ;    
    border: solid;
    border-radius: 20px;
    border-color:#0d181e;
    margin-bottom:20px;
    margin-top: 20px;
    float: center;
    box-shadow: 4px 3px rgba(0, 0, 0, 0.8) ;
}

.week4{
    margin: auto; 
    width: 90%;
    background-color: #467c9b ;    
    border: solid;
    border-radius: 20px;
    border-color:#0d181e;
    margin-bottom:20px;
    margin-top: 20px;
    float: center;
    box-shadow: 4px 3px rgba(0, 0, 0, 0.8) ;
    
}

.week5{
    margin: auto; 
    width: 90%;
    background-color: #467c9b ;    
    border: solid;
    border-radius: 20px;
    border-color:#0d181e;
    margin-bottom:20px;
    margin-top: 20px;
    float: center;
    box-shadow: 4px 3px rgba(0, 0, 0, 0.8) ;
}

.week7{
    margin: auto; 
    width: 90%;
    background-color: #467c9b ;    
    border: solid;
    border-radius: 20px;
    border-color:#0d181e;
    margin-bottom:20px;
    margin-top: 20px;
    float: center;
    box-shadow: 4px 3px rgba(0, 0, 0, 0.8) ;
}

.week8{
    margin: auto; 
    width: 90%;
    background-color: #467c9b ;    
    border: solid;
    border-radius: 20px;
    border-color:#0d181e;
    margin-bottom:20px;
    margin-top: 20px;
    float: center;
    box-shadow: 4px 3px rgba(0, 0, 0, 0.8) ;
}

.week9{
    margin: auto; 
    width: 90%;
    background-color: #467c9b ;    
    border: solid;
    border-radius: 20px;
    border-color:#0d181e;
    margin-bottom:20px;
    margin-top: 20px;
    float: center;
    box-shadow: 4px 3px rgba(0, 0, 0, 0.8) ;
}

.week10{
    margin: auto; 
    width: 90%;
    background-color: #467c9b ;    
    border: solid;
    border-radius: 20px;
    border-color:#0d181e;
    margin-bottom:20px;
    margin-top: 20px;
    float: center;
    box-shadow: 4px 3px rgba(0, 0, 0, 0.8) ;
}


/*charts*/
.chart{
    background-color: white;
    margin: solid;
    border-radius: 15px;
    border-width: 5px;
    border-style: solid;
    border-color: white;
    margin-bottom: 20px;
    
    
   
   
}
/*REGRESSION CHART WITH RESIZING FOR PHONE*/
img{
    background-color: white;
    margin: solid;
    border-radius: 15px;
    border-width: 5px;
    border-style: solid;
    border-color: white;
    margin-bottom: 20px;
    width: 450px;
}
@media only screen and (max-width: 600px){

    img{
        background-color: white;
    margin: solid;
    border-radius: 15px;
    border-width: 5px;
    border-style: solid;
    border-color: white;
    margin-bottom: 20px;
    width: 200px;
        
    }
}

/*CONTAINERS OF CHARTS*/
.box-container{
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flex-container{
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    
   
}

.flex-item{
    background-color: white;
    margin: solid;
    border-radius: 15px;
    border-width: 5px;
    border-style: solid;
    border-color: white;
    width: fit-content;
    margin-bottom: 20px;
    
}

.box-item{
    background-color: white;
    margin: solid;
    border-radius: 15px;
    border-width: 5px;
    border-style: solid;
    border-color: white;
    width: fit-content;
    margin-bottom: 20px;
}

.map-flex{
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flex-container2{
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    
   
}
