@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Set the background color for my page: */
body{

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:rgba(255, 241, 224,0.9);
 
}


/* Choose the appearance of the tags, h1, h3 and p: */
h1, h3, p{
    color:rgb(17, 17, 17);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}


.project{
    margin: auto; 
    max-width: 1200px;
    background-color: rgb(255, 255, 255);
    border: solid;
    border-radius: 5px;
    border-color:rgba(48, 38, 38,0.75);
    
}

.para1{
    margin: auto; 
    max-width: 1200px;
    background-color: rgb(255, 255, 255);    
    border: solid;
    border-radius: 5px;
    border-color:rgba(48, 38, 38,0.75);
    margin-bottom:20px;
    margin-top: 50px;
    
}
.chart{
    background-color: white;
    width:auto;
    margin-bottom:20px;
    height: auto;
    aspect-ratio: 16/9;

}

.chart5{
    background-color: white;
    width:50%;
    margin-bottom:40px;
    
}

.chart6{
    background-color: white;
    width:50%;
    margin-bottom:50px;
    float: right;
}
.chart7{
    background-color: white;
    width:50%;
    margin-bottom: 50px;
    float: left;
   
}

.chart8{
    background-color: white;
    width:50%;
    margin-bottom:20px;
    margin: 0 auto;
    margin-top: 20px;
   
}


.header{
        color: #000;
        top: 30px;
        width: 100%;
        min-height: 30px;
        display: inline-block;
        text-align: center;
        margin: 0 auto;
        }




